---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '@layouts/MainLayout.astro';
import { render } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
	const posts = await getCollection('stories');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'stories'>;

// Get all blog posts for navigation
const posts = (await getCollection('stories'))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());



const post = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
	<div class="post">
		<h1 class="post-title">{post.data.title}</h1>
		<div class="post-intro">
			<time class="post-published">
				<FormattedDate date={post.data.date} />
			</time>
		</div>

		<article class="post-content">
			<Content />
		</article>
	</div>
</Layout>

<style>
	.blog-navigation {
		margin-top: 2rem;
	}
</style>
