---
const today = new Date();
---

<footer>
	<div class="footer-content contained">
		<p>Copyright &copy; {today.getFullYear()} Virgil Eaton.</p>
		<p>All rights reserved.</p>
	</div>
</footer>
<style>
	footer {
		border: 1px solid var(--color-border);
		padding: 2rem 1rem;
		background-color: var(--color-accent);
		color: var(--color-text-footer, #fff);
		text-align: center;
		margin: 0;
	}
	
	.footer-content {
		max-width: var(--max-width);
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;
	}
	
	p {
		margin: 0;
		color: var(--color-footer-text);
	}
</style>
