---
import { SITE_TITLE } from '../consts';
import Logo from '@public/images/typewriter.svg'
---

  <header class="header">
		<h1 class="header-title">
			<a class="header-home-link" href="/">
				<div class="header-logo-container">
					<div class="typewriter-logo">
						<Logo width={80} height={80} fill="currentColor" />
					</div>
					<div class="title-container">
						<span class="site-title">{SITE_TITLE}</span>
						<span class="site-subtitle">from Virgil (Tim) Eaton</span>
					</div>
				</div>
			</a>
		</h1>
</header>

<nav class="menu main-menu">
	<a class="menu-item menu-item-current" href="/about">About</a>
	<a class="menu-item" href="/stories">Stories</a>
	<a class="menu-item" href="mailto:virgil@mostlytrue.life">Email</a>
	<a class="menu-item" href="/rss">RSS</a>
</nav>



<style>

	header {
		font-family: var(--font-display);
		color: var(--color-text-title);
		transition: color 0.4s ease;
		font-display: swap;
	}

	nav {
		display: flex-wrap;
		font-size: 1.2rem;
		justify-content: space-between;
		text-transform: lowercase;
		font-family: var(--font-display);
	}


	header {
		text-transform: uppercase;
	}

	a {
		display: inline-block;
		text-decoration: none;
	}

	.header-logo-container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.typewriter-logo {
		width: 80px;
		height: 80px;
	}

	.typewriter-logo img {
		width: 100%;
		height: 100%;
	}

	.title-container {
		display: flex;
		flex-direction: column;
	}

	.site-title {
		font-family: var(--font-display);
		font-size: 3rem;
		color: var(--color-text);
		transition: color 0.3s ease;
		line-height: 1.2;
		font-display: swap;
	}

	.site-subtitle {
		font-family: var(--font-display);
		font-size: 0.8rem;
		letter-spacing: 2px;
		color: var(--color-text-secondary);
		transition: color 0.3s ease;
		text-transform: none;
		font-style: italic;
		
	}

	.header-home-link:hover .site-title {
		color: var(--color-link);
	}

	.header-home-link:hover .site-subtitle {
		color: var(--color-link);
	}
</style>