---
import { SITE_TITLE } from '../consts';
---

  <header class="header">
	<h1 class="header-title">
		<a class="header-home-link" href="">
			{SITE_TITLE}
		</a>
	</h1>
</header>

<nav class="menu main-menu">
			<a class="menu-item menu-item-current" href="/about">About</a>
			<a class="menu-item" href="/email">EMAIL</a>
			<a class="menu-item" href="/archive">Archive</a>
</nav>
			
					
<!--

<header>
	<h2><a href="/">{SITE_TITLE}</a></h2>
	<nav>
		<a href="/">rss</a>
		<a href="/blog">writing</a>
		<a href="/tags">tags</a>
		<a href="/source">source</a>
	</nav>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;	
		margin-bottom: 2rem;
	}
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>

-->